
body {
    max-width: 1170px;
    margin: 0 auto;
}
.seinfeld {
    max-width: 160px;

}
.search {
    background-color: #00B7FF;
    color: white;
}
.search:hover {
    background-color: #2db34a;
}

button, div, form, input {
    margin: 10px;
}

.item {
    width: 200px;
    height: 250px;
    text-align: center;
    border: 2px solid grey;
    float: left;
}

.rating {
    font-size: 20px;
    color: blue;
    padding: 5px;
    font-family: Helvetica;
}

#results {
    max-width: 960px;
    margin: 0 auto;
}