img {
    /*height: 400px;*/
    /*width: 400px;*/
    /*min-width: 200px;*/
    /*min-height: 200px;*/
    float: left;
}
.search {
    background-color: #00B7FF;
    color: white;
}
.search:hover {
    background-color: #2db34a;
}

button, div, form, input {
    margin: 10px;
}

.item {
    width: 200px;
}